<owl-carousel-o [options]="mainOptions">
  <ng-template carouselSlide>
    <img class="w-100 object-fit-lg-fill" src="/images/1.jpg" />
  </ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/2.jpg"
  /></ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/3.jpg"
  /></ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/4.jpg"
  /></ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/5.jpg"
  /></ng-template>
  <ng-template carouselSlide>
    <img class="w-100" src="/images/6.jpg"
  /></ng-template>
</owl-carousel-o>
