.wishlist-btn {
  position: relative;
  background: rgba(240, 240, 240, 0.8) !important;
  border: none;
  width: 36px;
  height: 36px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.love-icon {
  font-size: 1rem !important;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 54%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wishlist-btn:hover {
  background: white;
  transform: scale(1.2);
}

.wishlist-btn:hover .love-icon {
  color: #dc3545;
}

.head fa-icon {
  transition: 0.3s;
  cursor: pointer;
}
.head fa-icon:hover {
  color: red;
}
@media (max-width: 991px) {
  .image {
    width: 75%;
    margin: auto;
  }
}

.pro-price {
  color: #dc3545 !important;
}

.addComment {
  position: relative;
  display: flex;
}
.addComment input {
  width: 85%;
  box-shadow: none;
}

.addComment fa-icon {
  width: 15%;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: none !important;
}
.userReview .userImage img {
  width: 60px;
  height: 60px;
  border-radius: 50% !important;
}

.imageContainer {
  width: 100%;
  height: 512px;
}
.imageContainer img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.delComment i,
.editComment i {
  cursor: pointer;
  transition: 0.3s;
}
.delComment i:hover {
  color: red;
}
.editComment i:hover {
  color: rgb(0, 0, 255);
}
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.popUp-AddProduct {
  position: fixed;
  overflow: auto;
  width: 70vw;
  z-index: 99999999999;
  height: auto;
}
