.table-responsive {
  overflow-x: auto;
}

table td,
table th {
  vertical-align: middle;
  text-align: center;
  white-space: nowrap;
}
.orderTitle {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 215px;
  margin: auto;
}


.section-title {
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
  color: #2c3e50;
  position: relative;
}

.section-title::after {
  content: "";
  display: block;
  width: 80px;
  height: 4px;
  background: red;
  margin: 0.5rem auto 0;
  border-radius: 2px;
}